.mapPage{
    background-color: #fff;
    width: 100vw;
    height: 100vh;
}
.mapHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffc600;
    padding: 20px;
    height: 105px;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid black;
}

.mapHeader>a{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-decoration: none;
    color: black;
}
.mapHeader>img{
    transform: scaleX(-100%);
    width: 60px;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
.red{
    color: red;
}
.blue{
    color: rgb(0, 81, 255);
}
.map{
    background-color: #ddd;
    position: absolute;
    width: 100vw;
    top: 100px;
    height: calc(100vh - 220px);
}
.buttons{
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: 4;
}
.buttons>button{
    width: 150px;
    height: 100px;
    border: none;
    position: absolute;
}
.buttons>button:nth-child(1){
    background-color: #5cb4ff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}
.buttons>button:nth-child(2){
    background-color: #5cb4ff;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    bottom: 0;
    right: 0;
}
.buttons>button>svg{
    color: white;
    font-size: 50px;
}
.mainMenuButton{
    position: absolute;
    z-index: 1;
    top: 105px;
    right: 0;
    background-color: #ffd12a;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: none;
    border-right: none;
}
.mainMenuButton.arrow{
    border: none;
    top: 0;
    left: 0;
    width: 50px;
}
.mainMenuButton>svg{
    font-size: 30px;
    color: black;
}
.mainMenu{
    width: 100vw;
    background-color: #ffd12a;
    height: calc(100vh - 105px);
    position: absolute;
}
.mainMenu>p{
    margin: 10px 60px;
    font-size: 20px;
}

.mainMenu>.block{
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
}
.block{
    margin-top: 15px;
}
.block>.row{
    display: flex;
    flex-direction: row;
}
.row>a{
    flex-basis: 50%;
    background-color: #ffcf23;
    height: 265px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(41, 41, 41);
    text-decoration: none;
}
.row>a>svg{
    font-size: 42px;
}
.menuAdd{
    min-width: 350px;
    width: 50vw;
    height: 300px;
    position: relative;
    padding: 10px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.menuAdd>i.errorInfo{
    font-size: 14px;
    color: black;
}
.menuAdd.Found{
    background-color: #5cb4ff;
    z-index: 1;
}
.closeWindow{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.closeWindow>svg{
    font-size: 26px;
    margin: 10px 10px;
    color: white;
}
.menuAdd>p:nth-child(2){
    text-align: center;
    margin-top: 25px;
    color: white;
    font-size: 20px;
}
.menuAdd>form{
    margin-top: 15px;
    width: 90%;
}
.radioButtons{
    text-align: center;
    color: #505050;
    width: 100%;
}
.radioButtons>input[type="radio"]{
    margin-top: 50px;
    opacity: 0;
    width: 0;
}
.radioButtons>label{
    font-size: 22px;
    margin-left: 15px;
    border: 1px solid black;
    padding: 10px;
    width: 250px;
}
.radioButtons>input[type="radio"]:checked + label{
    background-color: #97ceff;
    border: 1px solid white;
    color: black;
    width: 250px;
}
.arrows{
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 26px;
    display: flex;
    flex-direction: row;
}
.arrows>p{
    flex-basis: 60%;
}
.arrows>*{
    flex-basis: 20%;
}
.arrows>svg{
    background-color: #4485ff;
    padding: 10px;
    border-radius: 10px;
}
.addLabel{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}
.addLabel>input{
    width: 250px;
    height: 30px;
    margin: 20px 0 0 40px;
    border: 0;
    border-radius: 5px;
    text-align: center;
}
.fileBtn{
    margin-left: 50px;
    margin-bottom: 20px;
    border: none;
    color: white;
}
.arrows>input[type="submit"]{
    margin-left: 100px;
}
.userMenu{
    position: absolute;
    z-index: 11;
    left: 0;
    background-color: #ffd12a;
    padding: 10px;
    font-size: 20px;
    width: 45px;
    color: black;
    border-bottom-right-radius: 10px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    cursor: pointer;
}
.dark-window{
    position: absolute;
    z-index: 9;
    width: 100%;
    height: calc(100% - 105px);
    background-color: black;
    opacity: 0.6;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.userPrompt{
    z-index: 10;
    position: absolute;
    width: 320px;
    height: 300px;
    background-color: white;
    opacity: 1;
    margin-top: 700px;
}
.userPrompt>p{
    width: 100%;
    padding: 15px;
    background-color: #ffcf23;
    text-align: center;
}
.userPrompt>form{
    display: flex;
    flex-direction: column;
    margin: 30px 40px;
}
.userPrompt>form>label{
    margin-top: 10px;
}
.userPrompt>form>label>input{
    margin-left: 15px;
    width: 180px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid #777777;
    text-align: center;
}
.userPrompt>form>label>svg{
    font-size: 24px;
    color: #777777;
}
.userPrompt>form>button{
    margin: 30px auto;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: #ffcf23;
    width: 100px;
}
.userPrompt>form>a{
    text-align: center;
    color: #725900;
}
.userPanel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.userPanel>*{
    flex-basis: 50%;
    height: 50%;
    height: 124px;
    text-align: center;
    font-size: 14px;
    color: black;
    text-decoration: none;
    transition: .3s;
}
.userPanel>*>svg{
    font-size: 28px;
    margin-bottom: 20px;
}
.userPanel>a{
    padding-top: 35px;
}
.userPanel>button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.userPanel>*:hover{
    color: #ffc600;
}
p.err{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 60px;
    text-align: center;
    color: white;
    background-color: #ff5c5c;
    font-size: 14px;
}
/* @media (min-width: 768px) and (orientation: portrait){
    .menuAdd>form>label>input{
        float: center;
    }
    .menuAdd>form>label{
        font-size: 22px;
    }
    .menuAdd>p:nth-child(2){
        font-size: 24px;
    }
    .menuAdd>form>input[type="submit"]{
        margin-top: 15px;
        margin-left: 500px;
        border-radius: 5px;
    }
}

@media (min-width: 768px) and (orientation: landscape){
    .buttons{
        background-color: transparent;
    }
    .menuAdd{
        width: 50vw;
        position: relative;
        padding: 10px;
        z-index: 99999;
    }
    .menuAdd.Lost{
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .menuAdd.Found{
        margin-left: 50%;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .menuAdd>form>input[type="submit"]{
        margin-top: 50px;
        margin-left: 800px;
    }
} */